body {
  background-image: url(https://eoimages.gsfc.nasa.gov/images/imagerecords/87000/87675/eclipse_epc_2016068.gif);
  background-color: black;
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
h5 {
  color: white;
}
h6 {
  color: white;
}

p {
  color: white;
}

a {
  color: green;
}
a:hover {
  color: white;
}
.nav {
  background-color: black;
  margin: 30px;
  padding: 30px;
}

li{
  background-color: black;
  display: inline-block;
  padding: 10px;
}


.box {
  float: Left;
  width: 50%;
  border: 5px solid red;
}

img {
  border: solid 10px blue;
  padding: 20px;
  margin: 20px;
}

.box img {
  width: 50px;
  border: 5px solid black;
  padding: 15px;
}

.bg-dark
{
  background-color: grey;
  color: white;
}

.imageContainer p {
  background-color: pink;
  border: solid 5px orange;
  margin: 10px;
  padding: 25px;



}
.box p {
  background-color: black;
  margin: 5px;
  border: 5px solid yellow;
  padding-left: 20px;
}
